/*GENERALES*/

*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}


body{
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}


/*usuario perfil sub menu*/

      
      ul, ol {
        list-style:none;
      }
      
      .nav {
        width:150px; /*Le establecemos un ancho*/
        margin:0 auto; /*Centramos automaticamente*/
      }

      .nav > li {
        float:left;
      }
      
      .nav li a {

        background-color:#040D3B;
        color:#fff;
        text-decoration:none;
        padding:10px 12px;
        display:block;
      }
      
      .nav li a:hover {
        background-color:#040D3B;
      }
      
      .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
      }
      
      .nav li:hover > ul {
        display:block;
      }
      
      .nav li ul li {
        position:relative;
      }
      
      .nav li ul li ul {
        right:-140px;
        top:0px;
      }

/*cerrar css submenu usuario perfil*/

/* ------ ENCABEZADO ------ */

.menu-bar-pc{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(255,255,255, 0.15);
  padding: 0 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 200;

}

.logo{
  display: inline-block;
  width: 50px;
}

.logo img{
  width: 150px;
  right:  350px;
  vertical-align: top;
}

.menu-principal a, .top-redes a{
  display: inline-block;
  padding: 0 10px;
  color: #040D3B;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.876rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}

.menu-principal a:last-child, .top-redes a:last-child{
  padding-right: 0;

}

.top-redes a i{
  font-size: 1rem;
}

.menu-principal a:hover, .top-redes a:hover{
  color: #a4e31e;
}

.fixed-header{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(204,204,204,0.5);
  padding: 0 36px;
  background: #A4E31E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all .4s ease;
  margin-top: -68px;
}

.fixed-header .menu-principal a, .fixed-header .top-redes a{
  color: #444444;
}

.fixed-header .menu-principal a:hover, .top-redes a:hover{
  color: #110DEC;
}

/*Mobile menu*/
.menu-mobile{
  display: none;
}


.container{
      width: 450px;
      height: 500px;
      text-align: center;
      background-color: #A4E31E;
      border-radius: 4px;
      margin: auto;
      margin-top: 100px;
    }

.container-input{
      padding: 10px 30px;
      display: flex;
      flex-wrap: wrap;
    }


.password_anterior{
  padding:30px;
  height: 100px;
  position: relative;
  right: -95px;
  color:#000;
  top: 30px;
}

.input_password_anterior{
  width:225px;
  height:30px;
  position: relative;
  right: -40px;
  top: -35px;
}

.password{
  padding:30px;
  height: 100px;
  position: relative;
  left: 95px;
  color:#000;
  top: -70px;
}

.input_password{
  width:225px;
  height:30px;
  position: relative;
  right: -40px;
  top: -85px;
}

.confirmarpassword{
  padding:30px;
  height: 100px;
  position: relative;
  left: 70px;
  color:#000;
  top: -170px;
}

.input_confirmar_password{
  width:225px;
  height:30px;
  position: relative;
  right: -40px;
  top: -135px;
}


.h3{
  padding:30px;
  height: 100px;
  font-weight:lighter;
  text-transform:uppercase;
  color:#fff;
}


input{
  display:block;
  height: 30px;
  width: 150px

}




.placeholder{
  -webkit-transform:translateY(0px);
  transform:translateY(0px);
  -webkit-transition:.5s;
      transition:.5s;
}


  
.boton_actualizar{
  cursor:pointer; 
  display:inline-block;
  float:left;
  width:150px;
  height:60px;
  margin-top:-10px;
  border:none;
  font-family: 'Open Sans', sans-serif;
  text-transform:uppercase;
  color:#fff;
  background-color: #040D3B;
  -webkit-transition:.5s;
  transition:.5s;
  position: relative;
  right: -150px;
  top: -200px;
}

.boton_actualizar:hover{
  color: #fff;
  background-color: #110DEC;
  margin: auto;
}
.boton_actualizar:active{
  color: #fff;
  background-color: #110DEC;
  margin: auto;
}


 
 .span{
    position:absolute;
    display:block;
    margin:-10px 20%;
    -webkit-transform:translateX(0);
    transform:translateX(0);
    -webkit-transition:.5s;
    transition:.5s;
 }

