/*GENERALES*/

*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}


body{
  font-family: 'Open Sans', sans-serif;
  background: #EBEBEB;
}


.contenedor{
  width: 85%;
  height: 430px;
  color: #000000;
  background: #FFF;
  padding: 54px 0;
  margin: 15px;
  position: relative;
  right:-35px;
  border-radius:20px;
 
}

.mapa{
	  
      position: relative;
      right: -575px;
      top:-120px;
}

.name{
  padding:30px;
  height: 100px;
  position: relative;
  right: -215px;
  color:#040D3B;
  top: -30px;
}

.horario{
  padding:30px;
  height: 100px;
  position: relative;
  right: -50px;
  color:#000000;
  top: -4px;
}



.nombre-empresa h2 , h3, h4, h5, h6{
      font-weight: normal;
}

.texto{
	opacity:0.5;
}



/* ------ ENCABEZADO ------ */


.menu-bar-pc{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(255,255,255, 0.15);
  padding: 0 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 200;

}

.logo{
  display: inline-block;
  width: 50px;
}

.logo img{
  width: 150px;
  right:  350px;
  vertical-align: top;
}

.menu-principal a, .top-redes a{
  display: inline-block;
  padding: 0 10px;
  color: #040D3B;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.876rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}

.menu-principal a:last-child, .top-redes a:last-child{
  padding-right: 0;

}

.top-redes a i{
  font-size: 1rem;
}

.menu-principal a:hover, .top-redes a:hover{
  color: #a4e31e;
}

.fixed-header{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(204,204,204,0.5);
  padding: 0 36px;
  background: #A4E31E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all .4s ease;
  margin-top: -68px;
}

.fixed-header .menu-principal a, .fixed-header .top-redes a{
  color: #444444;
}

.fixed-header .menu-principal a:hover, .top-redes a:hover{
  color: #110DEC;
}

/*Mobile menu*/
.menu-mobile{
  display: none;
}



 /* ------ PIE DE PAGINA ------ */

footer{
  background: #A4E31E;
  padding: 54px 0;
  text-align: center;
}

footer .copy{
  color: #040D3B;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 15px;
}

footer .footer-redes a{
  display: inline-block;
  padding: 0 10px;
  color: #040D3B;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}

footer .footer-redes a:hover{
  color: #fff;
}