/*GENERALES*/

*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}


body{
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}


/*usuario perfil sub menu*/

      
      ul, ol {
        list-style:none;
      }
      
      .nav {
        width:150px; /*Le establecemos un ancho*/
        margin:0 auto; /*Centramos automaticamente*/
      }

      .nav > li {
        float:left;
      }
      
      .nav li a {

        background-color:#040D3B;
        color:#fff;
        text-decoration:none;
        padding:10px 12px;
        display:block;
      }
      
      .nav li a:hover {
        background-color:#040D3B;
      }
      
      .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
      }
      
      .nav li:hover > ul {
        display:block;
      }
      
      .nav li ul li {
        position:relative;
      }
      
      .nav li ul li ul {
        right:-140px;
        top:0px;
      }

/*cerrar css submenu usuario perfil*/

/* ------ ENCABEZADO ------ */

.menu-bar-pc{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(255,255,255, 0.15);
  padding: 0 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 200;

}

.logo{
  display: inline-block;
  width: 50px;
}

.logo img{
  width: 150px;
  right:  350px;
  vertical-align: top;
}

.menu-principal a, .top-redes a{
  display: inline-block;
  padding: 0 10px;
  color: #040D3B;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.876rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}

.menu-principal a:last-child, .top-redes a:last-child{
  padding-right: 0;

}

.top-redes a i{
  font-size: 1rem;
}

.menu-principal a:hover, .top-redes a:hover{
  color: #a4e31e;
}

.fixed-header{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(204,204,204,0.5);
  padding: 0 36px;
  background: #A4E31E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all .4s ease;
  margin-top: -68px;
}

.fixed-header .menu-principal a, .fixed-header .top-redes a{
  color: #444444;
}

.fixed-header .menu-principal a:hover, .top-redes a:hover{
  color: #110DEC;
}

/*Mobile menu*/
.menu-mobile{
  display: none;
}





/* contenedor*/


.container{
			width: 450px;
			height: 350px;
			text-align: center;
			background-color: #a4e31e;
			border-radius: 4px;
			margin: auto;
			margin-top: 100px;
		}

		.container img{
			width: 200px;
			height: 80px;
			margin-top: -50px;
			margin-bottom: 30px;
		}

		.Titulo{
			color: #040D3B;
			text-align: center;
		}

		.input-100{
			width: 100%;
		}

		input{
			margin-bottom: 15px;
			padding: 15px;
			
		}
		
	

		.container-input{
			padding: 10px 20px;
			display: flex;
			flex-wrap: wrap;
			
		}
		

		.container-input-texto{
			padding: 15px 20px;
			display: flex;
			flex-wrap: wrap;
			
		}

		.btn-recuperar{
			padding: 15px 30px;
			cursor: pointer;
			border-radius: 4px;
			border: none;
			color: #fff;
			background-color: #040D3B;
			margin: auto; 
		} 
		
	
		.btn-recuperar:hover{
			color: #fff;
			background-color: #110DEC;
			margin: auto;
		}

		.btn-recuperar:active{
			color: #fff;
			background-color: #110DEC;
			margin: auto;
		}
		
		
		.btnatras{
			padding: 15px 30px;
			cursor: pointer;
			border-radius: 4px;
			border: none;
			color: #fff;
			background-color: #040D3B;
			margin: auto; 
		} 
		.btnatras:hover{
			color: #fff;
			background-color: #040D3B;
			margin: auto;
		}
			.btnatras:active{
			color: #fff;
			background-color: #040D3B;
			margin: auto;
		}
		
		
		/* ------ PIE DE PAGINA ------ */

		footer{
		  background: #040D3B;
		  padding: 20px 0;
		  text-align: center;
		  margin-top: 150px;
		}
		
		footer .copy{
		  color: #fff;
		  font-size: 0.9rem;
		  font-weight: 400;
		  margin-bottom: 15px;
		}
		
		footer .footer-redes a{
		  display: inline-block;
		  padding: 0 10px;
		  color: #040D3B;
		  text-decoration: none;
		  font-weight: 500;
		  font-size: 0.875rem;
		  letter-spacing: 0;
		  line-height: 1.5em;
		  transition: all .3s ease;
		}
		
		footer .footer-redes a:hover{
		  color: #fff;
		}

