
/*GENERALES*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}




.titulo-seccion{
  text-align: center;
  margin-bottom: 40px;
}

.titulo-seccion h2{
  color: #040D3B;
  font-size: 3.125rem;
  margin-bottom: 15px;
  font-weight: 500;
}

.titulo-seccion p{
  color: #000;
  font-size: 1rem;
  font-weight: 400;
}

/*Boton Volver Arriba*/
.btn-volver-arriba{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.5);
  border-radius: 30%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  margin-right: -60px;
  transition: all .4s ease;
}

.btn-volver-arriba a{
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 30%;
  text-align: center;
}

.btn-volver-arriba a i{
  font-size: 1rem;
  color: #fff;
  line-height: 40px;
}

/* ------ ENCABEZADO ------ */

.menu-bar-pc{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(255,255,255, 0.15);
  padding: 0 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 200;

}

.logo{
  display: inline-block;
  width: 50px;
}

.logo img{
  width: 150px;
  right:  350px;
  vertical-align: top;
}

.menu-principal a, .top-redes a{
  display: inline-block;
  padding: 0 10px;
  color: #040D3B;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.876rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}

.menu-principal a:last-child, .top-redes a:last-child{
  padding-right: 0;

}

.top-redes a i{
  font-size: 1rem;
}

.menu-principal a:hover, .top-redes a:hover{
  color: #a4e31e;
}

.fixed-header{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(204,204,204,0.5);
  padding: 0 36px;
  background: #A4E31E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all .4s ease;
  margin-top: -68px;
}

.fixed-header .menu-principal a, .fixed-header .top-redes a{
  color: #444444;
}

.fixed-header .menu-principal a:hover, .top-redes a:hover{
  color: #110DEC;
}

/*Mobile menu*/
.menu-mobile{
  display: none;
}


/*Vistas contador*/
.contenedor-visitas{
	position: relative;
      right: -40px;
      top: 150px;
}

/*cieere vistas contador*/

/* ------ MAIN ------ */

.container_registro_empresa{
      width: 800px;
      height: 600px;
      text-align: center;
      background-color: #A4E31E;
      border-radius: 10px;
      margin: auto;
      margin-top: 50px;
}

.container-input{
      padding: 10px 30px;
      display: flex;
      flex-wrap: wrap;
}

.container img{
			width: 200px;
			height: 80px;
			margin-top: -50px;
			margin-bottom: 30px;
}

.mensaje_registo_empresa{
	top: 250px;
}

.Nombre_empresa{
  width:225px;
  padding:30px;
  height: 100px;
  position: relative;
  right: 240px;
  color:#000;
  top: -50px;
}

.input_Nombre_empresa{
  width:225px;
  height:30px;
  position: relative;
  right: 200px;
  top: -40px;
}

.Nombre_contacto{
  width:225px;
  padding:30px;
  height: 100px;
  position: relative;
  right: -110px;
  color:#000;
  top: -100px;
}

.input_Nombre_contacto{
  width:225px;
  height:30px;
  position: relative;
  right: -150px;
  top: -95px;
}

.Direccion{
  width:225px;
  padding:30px;
  height: 100px;
  position: relative;
  right: 275px;
  color:#000;
  top: -80px;
}

.input_Direccion{
  width:225px;
  height:30px;
  position: relative;
  right: 200px;
  top: -80px;
}

.Telefono{
  width:225px;
  padding:30px;
  height: 100px;
  position: relative;
  right: -70px;
  color:#000;
  top: -135px;
}

.input_Telefono{
  width:225px;
  height:30px;
  position: relative;
  right: -150px;
  top: -135px;
}

.Horario_atencion{
  width:225px;
  padding:30px;
  height: 100px;
  position: relative;
  right: 235px;
  color:#000;
  top: -110px;
}

.input_Horario_atencion{
  width:225px;
  height:30px;
  position: relative;
  right: 200px;
  top: -110px;
}

.Tipo_empresa{
  width:225px;
  padding:30px;
  height: 100px;
  position: relative;
  right: -100px;
  color:#000;
  top: -165px;
}

.input_Tipo_empresa{
  width:225px;
  height:30px;
  position: relative;
  right: -150px;
  top: -165px;
}

.Email{
  width:225px;
  padding:30px;
  height: 100px;
  position: relative;
  right: 290px;
  color:#000;
  top: -140px;
}

.input_Email{
  width:225px;
  height:30px;
  position: relative;
  right: 200px;
  top: -140px;
}

.Confirmar_Email{
  width:225px;
  padding:30px;
  height: 100px;
  position: relative;
  right: -100px;
  color:#000;
  top: -195px;
}

.input_Confirmar_Email{
  width:225px;
  height:30px;
  position: relative;
  right: -150px;
  top: -195px;
}

.Foto_empresa{
  width:225px;
  padding:30px;
  height: 100px;
  position: relative;
  right: 255px;
  color:#000;
  top: -180px;
}

.input_Foto_empresa{
  width:225px;
  height:30px;
  position: relative;
  right: 200px;
  top: -180px;
}

.Camara_comercio{
  width:225px;
  padding:30px;
  height: 100px;
  position: relative;
  right: -125px;
  color:#000;
  top: -235px;
}

.input_Camara_comercio{
  width:225px;
  height:30px;
  position: relative;
  right: -150px;
  top: -235px;
}

.boton_guardar{
  cursor:pointer; 
  display:inline-block;
  float:left;
  width:100px;
  height:40px;
  margin-top:-10px;
  border:none;
  font-family: 'Open Sans', sans-serif;
  text-transform:uppercase;
  color:#fff;
  background-color: #040D3B;
  -webkit-transition:.5s;
  transition:.5s;
  position: relative;
  right: -330px;
  top: -190px;
}

.boton_guardar:hover{
  color: #fff;
  background-color: #110DEC;
  margin: auto;
}
.boton_guardar:active{
  color: #fff;
  background-color: #110DEC;
  margin: auto;
}




/* ------ PIE DE PAGINA ------ */

		footer{
  background: #A4E31E;
  padding: 54px 0;
  text-align: center;
  position: relative;
  margin-top: 150px;
}

footer .copy{
  color: #040D3B;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 15px;
}

footer .footer-redes a{
  display: inline-block;
  padding: 0 10px;
  color: #040D3B;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}

footer .footer-redes a:hover{
  color: #fff;
}
		
